<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="css/cadastrarUsuario.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Cadastro de Pacientes</title>
</head>

<body>
    <%- include('../partials/header'); %>
    <main id="main-cad-usuario">
        <h4 class="text-center my-4">Cadastro de Pacientes</h4>
        <form action="/cadastrarUsuario" method="POST" class="form-cadastro mb-4">
            <div class="row">
                <div class="form-group col">
                    <label for="emailUser">E-mail</label>
                    <input type="email" class="form-control" id="emailUser" name="emailUser">
                </div>
                <div class="form-group col">
                    <label for="senhaUser">Senha</label>
                    <input type="password" class="form-control" id="senhaUser" name="senhaUser">
                </div>
            </div>
            <div class="form-group">
                <label for="nomeUser">Nome completo</label>
                <input type="text" class="form-control" id="nomeUser" name="nomeUser">
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="cpfUser">CPF</label>
                    <input type="text" class="form-control" id="cpfUser" name="cpfUser">
                </div>
                <div class="form-group col">
                    <label for="celularUser">Celular</label>
                    <input type="text" class="form-control" id="celularUser" name="celularUser">
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="dataNascUser">Data de nascimento</label>
                    <input type="date" class="form-control" id="dataNascUser" name="dataNascUser">
                </div>
                <div class="form-group col">
                    <label for="sexoUser">Sexo</label>
                    <select class="custom-select" name="sexoUser" id="sexoUser">
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                        <option value="O">Outro</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="cepUser">CEP</label>
                    <input type="text" class="form-control" id="cepUser" name="cepUser">
                </div>
                <div class="form-group col">
                    <label for="logradouroUser">Logradouro</label>
                    <input type="text" class="form-control" id="logradouroUser" name="logradouroUser">
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="numeroUser">Nº</label>
                    <input type="text" class="form-control" id="numeroUser" name="numeroUser">
                </div>
                <div class="form-group col">
                    <label for="complementoUser">Complemento</label>
                    <input type="text" class="form-control" id="complementoUser" name="complementoUser">
                </div>
            </div>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>